doctype html
html.
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/paper_img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title></title>

      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <meta name="viewport" content="width=device-width" />

      <link href="/bootstrap3/css/bootstrap.css" rel="stylesheet" />
      <link href="/assets/css/ct-paper.css" rel="stylesheet"/>
      <link href="/assets/css/main.css" rel="stylesheet" />
      <link href="/assets/css/animate.css" rel="stylesheet" />
      <!--     Fonts and icons     -->
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  </head>
  <body>
  <nav class="navbar navbar-ct-danger" role="navigation-demo" id="demo-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="#">
             <div class="logo-container">
                  <div class="logo">
                      <img src="assets/img/red_logo.png" width=60px alt="servd">
                  </div>
              </div>
        </a>

      </div>
      <ul class="nav navbar-nav">
        <li>
            <span class="btn btn-danger btn-simple active">Table Management</span>
        </li>
        <li>
            <span class="btn btn-danger btn-simple ">Edit Restaurant Menu</span>
        </li>
        <li>
            <span class="btn btn-danger btn-simple ">Customer Management</span>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="btn btn-danger ">Log Out</span>
          </li>
      </ul>
  <!-- Collect the nav links, forms, and other content for toggling -->

    </div><!-- /.container-->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-danger servd-panel-border">
          <div class="panel-heading servd-panel-danger">Customers waiting to be seated:</div>
          <div class="panel-body">
            <table class="table " >
              <tr >
                <td width=80%>Name</td>
                <td width=20%>–</td>
              </tr>
              <tr class="uncleared-waitlist">
                <td><h6>Andy Sturzu</h6></td>
                <td>
                  <button href="#" id="seat-button" class="btn btn-fill btn-success" style="width:100%"><i class="fa fa-check"></i>Seat</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-danger servd-panel-border">
          <div class="panel-heading servd-panel-danger">Uncleared Transactions:</div>
          <div class="panel-body">
            <table class="table " >
              <tr >
                <td width=50%>Table</td>
                <td width=30%>Amount</td>
                <td width=20%>–</td>
              </tr>
              <tr class="uncleared-transactions">
                <td><h6>Table 1</h6></td>
                <td><h6>$39.49</h6></td>
                <td>
                  <button href="#" id="clear-button" class="btn btn-fill btn-success" style="width:100%"><i class="fa fa-check"></i>Clear</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <br>
    <div class="row servd-row">
      <div class="col-sm-3 servd-table">

        <div class="panel panel-default servd-panel">

          <div class="panel-body servd-panel-body">
          <div class="badge-notify animated tada">&nbsp;</div>

            <div id="table-1" class="servd-table-bg" >
              <!-- asdf -->
              <img src="/assets/img/plate-open.png" width=200px><br>
              <span class="servd-guests"><h3>1 guest</h3></span>
            </div>
            <div class="dropdown">
              <div class="servd-panel-hr"></div>
              <br>
              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%;border-radius: 4px 4px 0 0 !important; ">Mark Badge as Read</button>

              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%; border-radius: 0 0 4px 4px;">Food as Served</button><br><br>

              <class class="form-inline">
                <input type="text" placeholder="$0.00" class="form-control" size=5 style="width:137px; background:white;border-radius 4px 0 4px 0 !important">
                <button href="#fakelink" id="set-price" class="btn btn-fill btn-success" style="margin-left: -4px;border-radius:  0 4px 4px 0  ">Set Price</button>
                <div class="clearfix"></div>
              </class>
            </div>
          </div>
          <div class="panel-footer servd-panel-footer"><span class="label label-default">Table 1</span></div>
        </div>
      </div>
      <div class="col-sm-3 servd-table">
        <div class="panel panel-default servd-panel">
          <div class="panel-body servd-panel-body">
            <div id="table-2" class="servd-table-bg">
              <!-- asdf -->
              <img src="/assets/img/plate-closed.png" width=200px><br>
              <span class="servd-guests"><h3>4 guests</h3></span>
            </div>
            <div class="dropdown">
              <div class="servd-panel-hr"></div>
              <br>
              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%;border-radius: 4px 4px 0 0 !important; ">Mark Badge as Read</button>

              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%; border-radius: 0 0 4px 4px;">Food as Served</button><br><br>

              <class class="form-inline">
                <input type="text" placeholder="$0.00" class="form-control" size=5 style="width:137px; background:white;border-radius 4px 0 4px 0 !important">
                <button href="#fakelink" class="btn btn-fill btn-success" style="margin-left: -4px;border-radius:  0 4px 4px 0  ">Set Price</button>
                <div class="clearfix"></div>
              </class>
            </div>
          </div>
          <div class="panel-footer servd-panel-footer"><span class="label label-default">Table 2</span></div>
        </div>
      </div>
      <div class="col-sm-3 servd-table">
        <div class="panel panel-default servd-panel">
          <div class="panel-body servd-panel-body">
            <div id="table-3" class="servd-table-bg">
              <!-- asdf -->
              <center><img src="/assets/img/empty-table.png" width=140px></center>
              <span class="servd-guests"><h3>0 guests</h3></span>
            </div>
            <div class="dropdown">
              <div class="servd-panel-hr"></div>
              <br>
              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%;border-radius: 4px 4px 0 0 !important; ">Mark Badge as Read</button>

              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%; border-radius: 0 0 4px 4px;">Food as Served</button><br><br>

              <class class="form-inline">
                <input type="text" placeholder="$0.00" class="form-control" size=5 style="width:137px; background:white;border-radius 4px 0 4px 0 !important">
                <button href="#fakelink" class="btn btn-fill btn-success" style="margin-left: -4px;border-radius:  0 4px 4px 0  ">Set Price</button>
                <div class="clearfix"></div>
              </class>
            </div>
          </div>
          <div class="panel-footer servd-panel-footer"><span class="label label-default">Table 3</span></div>
        </div>
      </div>
    </div>



    <div class="row servd-row">
      <div class="col-sm-3 servd-table">
        <div class="panel panel-default servd-panel">
          <div class="panel-body servd-panel-body">
            <div id="table-4" class="servd-table-bg">
              <!-- asdf -->
              <center><img src="/assets/img/empty-table.png" width=140px></center>
              <span class="servd-guests"><h3>0 guests</h3></span>
            </div>
            <div class="dropdown">
              <div class="servd-panel-hr"></div>
              <br>
              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%;border-radius: 4px 4px 0 0 !important; ">Mark Badge as Read</button>

              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%; border-radius: 0 0 4px 4px;">Food as Served</button><br><br>

              <class class="form-inline">
                <input type="text" placeholder="$0.00" class="form-control" size=5 style="width:137px; background:white;border-radius 4px 0 4px 0 !important">
                <button href="#fakelink" class="btn btn-fill btn-success" style="margin-left: -4px;border-radius:  0 4px 4px 0  ">Set Price</button>
                <div class="clearfix"></div>
              </class>
            </div>
          </div>
          <div class="panel-footer servd-panel-footer"><span class="label label-default">Table 4</span></div>
        </div>
      </div>
      <div class="col-sm-3 servd-table">
        <div class="panel panel-default servd-panel">
          <div class="panel-body servd-panel-body">
            <div id="table-5" class="servd-table-bg">
              <!-- asdf -->
              <center><img src="/assets/img/empty-table.png" width=140px></center>
              <span class="servd-guests"><h3>0 guests</h3></span>
            </div>
            <div class="dropdown">
              <div class="servd-panel-hr"></div>
              <br>
              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%;border-radius: 4px 4px 0 0 !important; ">Mark Badge as Read</button>

              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%; border-radius: 0 0 4px 4px;">Food as Served</button><br><br>

              <class class="form-inline">
                <input type="text" placeholder="$0.00" class="form-control" size=5 style="width:137px; background:white;border-radius 4px 0 4px 0 !important">
                <button href="#fakelink" class="btn btn-fill btn-success" style="margin-left: -4px;border-radius:  0 4px 4px 0  ">Set Price</button>
                <div class="clearfix"></div>
              </class>
            </div>
          </div>
          <div class="panel-footer servd-panel-footer"><span class="label label-default">Table 5</span></div>
        </div>
      </div>
      <div class="col-sm-3 servd-table">
        <div class="panel panel-default servd-panel">
          <div class="panel-body servd-panel-body">
            <div id="table-6" class="servd-table-bg">
              <!-- asdf -->
              <center><img src="/assets/img/empty-table.png" width=140px></center>
              <span class="servd-guests"><h3>0 guests</h3></span>
            </div>
            <div class="dropdown">
              <div class="servd-panel-hr"></div>
              <br>
              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%;border-radius: 4px 4px 0 0 !important; ">Mark Badge as Read</button>

              <button href="#fakelink" class="btn btn-fill btn-success" style="width:100%; border-radius: 0 0 4px 4px;">Food as Served</button><br><br>

              <class class="form-inline">
                <input type="text" placeholder="$0.00" class="form-control" size=5 style="width:137px; background:white;border-radius 4px 0 4px 0 !important">
                <button href="#fakelink" class="btn btn-fill btn-success" style="margin-left: -4px;border-radius:  0 4px 4px 0  ">Set Price</button>
                <div class="clearfix"></div>
              </class>
            </div>
          </div>
          <div class="panel-footer servd-panel-footer"><span class="label label-default">Table 6</span></div>
        </div>
      </div>
    </div>

  <hr>

  <center>&copy; servd 2015</center>

  <br>
  </div>


  </body>

      <script src="/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

    <script src="/bootstrap3/js/bootstrap.js" type="text/javascript"></script>

    <!--  Plugins -->
    <script src="/assets/js/ct-paper-checkbox.js"></script>
    <script src="/assets/js/ct-paper-radio.js"></script>
    <script src="/assets/js/bootstrap-select.js"></script>
    <script src="/assets/js/bootstrap-datepicker.js"></script>
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <script src="/assets/js/ct-paper.js"></script>