body {
    background: #f4f3ef;
}
.servd-row {
    margin-bottom: 30px;
}
.servd-row:first-child {
    margin-top: 50px;
}
.servd-table {
    width: 390px;
}
.servd-panel-danger {
    background: #FF8F5E !important;
    color: white !important;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}
.servd-panel-border { box-sizing: border-box; border-radius: 15px; border: solid 3px #FF8F5E; }

.servd-panel {
    background: transparent;
    border:none;
}
.servd-panel-body {
    border-radius: 80px;

    padding:50px;

    background: #FAF9F8;
    border: 5px solid #D7D6D5;
    margin-bottom: 35px;
}
.servd-panel-footer {
    background: transparent;
    border:none;
    font-size:36px;
    text-align:center;
}
.servd-table-bg {
    height: 240px;
    border-radius: 80px;
    background: #E2DED0;
    border: 5px solid #C9C6B9;
    padding: 20px;
    position: relative;
    cursor:pointer;
}
.badge-notify-pay {
    background: url(/assets/img/pay_badge.png) no-repeat;
}
.badge-notify-question {
    background: url(/assets/img/question_badge.png) no-repeat;
    cursor: pointer;
}
.badge-notify-info {
    background: url(/assets/img/info_badge.png) no-repeat;
    cursor: pointer;
}
.badge-notify {
   position:absolute;
   top: -5px;
   right: -5px;
   text-align: right;
    background-size: 90px;
    width:90px;
    height:90px;
    background-clip: border-box;
    animation-iteration-count: infinite;
}
.badge-notify-plain {
    padding:10px;
    background-size: 80px;
    width:80px;
    height:80px;
    margin-right:20px;
}
.servd-guests {
   color: rgba(0,0,0,0.2);
   text-align: center;
}
.servd-panel-hr {
    width:100%;
    height:4px;
    border-radius:4px;
    background: rgba(0,0,0,0.15);
    margin-top: 20px;
}
.clearfix {
    clear:both;
}

.dropdown {
    display: none;
}

.uncleared-transactions {
    opacity: 0;
}

